:root {
  --color-primary: rgb(248, 239, 225);
  --color-secondary: rgb(233, 124, 110);
  --color-tertiary:rgb(234, 78, 21);
  --color-quarternary: white;
}

html {
  font-size: 10px;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 2rem;
}

#root {
  width: 600px;
  height: 600px;
  background-color: var(--color-quarternary);
}

.App {
  width: 100%;
}

.title {
  font-size: 2rem;
  margin: 1.25% auto;
  text-align: center;
}

.categories {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 98%;
  margin-left: 0.5%;
  padding: 0.5%;
  border-radius: 2%;
  background-color: var(--color-secondary);
}
  .categories .btn {
    font-size: 2rem;
    border: none;
    background-color: transparent;
    color: white;
    cursor: pointer;
  }
    .categories .btn:hover {
      transform: scale(1.2);
    }

.menu {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
  .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--color-primary);
    margin: 1%;
    margin-top: 2%;
    margin-bottom: 2%;
    padding: 2%;
    border-radius: 2%;
  }
    .item img {
      max-height: 9.7rem;
      border: solid var(--color-secondary);
      border-radius: 5%;      
    }
    .item-info{
      display: flex;
      flex-direction: row;
    }
      .item-info p {
        margin: 0;
        font-size: 1.5rem;
        margin: 1%;
        text-align: justify;
        hyphens: auto;
      }
    .title-and-price {
      display: grid;
      align-items: center;
      justify-content: space-between;
      grid-template-columns: 1fr 1fr;
      margin-top: -7%;
    }
      .item-title {
        text-align: start;
        font-size: 1.5rem;
        color: var(--color-tertiary);
        text-transform: capitalize;
        white-space: nowrap;
      }
      .item-price {
        text-align: end;
        font-size: 1.5rem;
        color: var(--color-tertiary);
        text-transform: capitalize;
        white-space: nowrap;
      }




@media (max-width: 1024px) {
  #root {
    width: 560px;
    height: 560px;
  }

  html {
    font-size: 7px;
  }
}

@media (max-width: 768px) {
  #root {
    width: 420px;
    height: 420px;
  }
}

@media (max-width: 576px) {
  #root {
    width: 350px;
    height: 350px;
  }

  html {
    font-size: 6px;
  }
}

@media (max-width: 425px) {
  #root {
    width: 240px;
    height: 240px;
  }

  html {
    font-size: 4px;
  }
}